/* Estilo base para pantallas grandes */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  width: calc(33.33% - 20px);
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 768px) {
  .item {
    width: calc(50% - 20px); 
  }
}


@media screen and (max-width: 480px) {
  .item-list {
    flex-direction: column; 
  }

  .item {
    width: 100%; 
  }
}

.item-image img {
  max-width: 100%;
  height: 400px;
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1000px; 
  margin: 20px auto 0; 
  padding: 20px;
  border: 1px solid #ccc; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  font-family: 'Oswald', sans-serif;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%; 
  }
}

/*cart-view estilos*/
/* Estilo base para pantallas grandes */
/* Estilo base para pantallas grandes */
.cart-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; /* Añade esta línea para alinear las tarjetas en altura */
}

.cart-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  width: calc(33.33% - 20px);
}

@media screen and (max-width: 768px) {
  .cart-card {
    width: calc(50% - 20px);
  }
}

.cart-card img {
  max-width: 100%;
  height: 400px;
}

.item-price{
  color: #333;
  font-size: xx-large;
  font-weight: 400;
}