/* Estilos para la tarjeta */
.item {
  display: flex;
  justify-content: center; 
  align-items: center; 
  border: 1px solid #ccc;
  padding: 20px; 
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 25%;
  margin: 0 auto; 
  margin-bottom: 20px;
  text-decoration: none !important;
}

.item-image img {
  max-width: 100%;
  height: auto;
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}