/* Estilo base para pantallas grandes */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
  width: calc(33.33% - 20px);
}

/* Media query para pantallas medianas */
@media screen and (max-width: 768px) {
  .item {
    width: calc(50% - 20px); /* Cambia a 2 columnas */
  }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .item-list {
    flex-direction: column; /* Cambia a una columna */
  }

  .item {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}

.item-image img {
  max-width: 100%;
  height: auto;
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}


.item-details {
  text-align: center; 
}


.item a {
  color: inherit; 
  text-decoration: none; 
}