/* Checkout.css */

/* Estilos para el título h1 */
.checkout-title {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 20px; /* Margen inferior */
  }
  
  /* Estilos para el título h2 */
  .checkout-subtitle {
    font-size: 18px;
    margin-top: 20px; /* Margen superior */
  }
  
  /* Estilos para el título h4 dentro de secciones */
  .checkout-section-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón */
  .checkout-button {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px;
    border: none; /* Sin borde */
    cursor: pointer;
  }
  
  /* Estilos para el botón cuando se coloca el mouse encima */
  .checkout-button:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el mouse */
  }
  
  /* Estilos para el total de la compra */
  .checkout-total {
    font-size: 18px;
    margin-top: 20px;
  }
  